# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/
Pipfile.lock

# Package build
build/
dist/
*.egg-info/

# PyInstaller
*.manifest
*.spec

# IDE
.idea/
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Others
*.pytest_cache/
